<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row">
            <div class="col-xs">
                <div class="box">
                    <mat-label>Powered by ROY STEEVEN YARCE DAVID - 2021</mat-label>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
            <div class="row">
                <div class="col-xs">
                    <div class="box">
                        <mat-label>Email: roy.yarce@gmail.com</mat-label>
                    </div>
                </div>
            </div>
    </mat-toolbar-row>
</mat-toolbar>
