<mat-horizontal-stepper linear #stepper>
    <mat-step>
      <div *ngIf="(products$ | async | groupProducts:'id') as productos">
        <p *ngIf="productos.length === 0">No hay productos</p>
        <div class="row" *ngFor="let product of productos">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="box">
                    <img [src]="product.image" [alt]="product.title" class="crop-image">
                </div>
            </div>
             <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="box">
                    <p>X {{product['count']}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="box">
                    {{product.title}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="box">
                    {{product.price}}
                </div>
            </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>