<form [formGroup]="productForm" novalidate (ngSubmit)="saveProduct($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title *ngIf="idEdit !== ''">Editar Producto</mat-card-title>
      <mat-card-title *ngIf="idEdit === ''">Nuevo Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Título" formControlName="title">
            <mat-error *ngIf="productForm.controls['title'].hasError('required')">
              *Título es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Precio" formControlName="price">
            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              *Precio es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['price'].hasError('price_invalid')">
              *Precio no es valido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              *Descripción es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>

      <button mat-raised-button color="primary" type="submit" *ngIf="idEdit !== ''">Editar</button>
      <button mat-raised-button color="primary" type="submit" *ngIf="idEdit === ''">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
